# Flutter/Dart/Pub related
*.dart_tool/
*.pub/
*.packages
pubspec.lock
devtools_options.yaml
analysis_options.yaml
build/
flutter_*.png

# IDE related
.idea/
.vscode/
*.iml

# MacOS
.DS_Store

# Android
*.apk
*.ap_  # For incremental APKs
*.keystore

# iOS
Pods/
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcscheme
*.xcassets

# Windows
*.exe
*.dll
*.pdb
*.obj
*.lib
*.log

# Other
*.log
*.swp
*.swo
*.tmp
*.bak
